<a href="https://colab.research.google.com/github/Gopizone/DS/blob/main/Assignment_Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [ ]:
cutlet = pd.read_csv("F:\\Data Science Excler\\CSV Files\\Cutlets.csv")

In [ ]:
cutlet

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [ ]:

statistic,pvalue=stats.f_oneway(cutlet.iloc[:,0], cutlet.iloc[:,1])
alpha=0.05
print ("Two Sample T test \nP value is "+ str(pvalue))
if pvalue<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

Two Sample T test
P value is 0.4722394724599509
H0 holds true

In [ ]:
labTAT=pd.read_csv("F:\\Data Science Excler\\CSV Files\\labTAT.csv")

In [ ]:
labTAT

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [ ]:
statistic,pvalue=stats.f_oneway(labTAT.iloc[:,0], labTAT.iloc[:,1], labTAT.iloc[:,2],labTAT.iloc[:,3])
alpha=0.05
print ("ANOVA \nP value is "+ str(pvalue))
if pvalue<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

ANOVA
P value is 2.1156708949992414e-57
Reject H0

In [ ]:
BuyerRatio=pd.read_csv("F:\\Data Science Excler\\CSV Files\\BuyerRatio.csv")

In [ ]:
BuyerRatio

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [ ]:
BuyerRatio=BuyerRatio.drop('Observed Values', axis = 1)

In [ ]:
stat,p,dof,expected=stats.chi2_contingency(BuyerRatio)

In [ ]:
alpha=0.05

In [ ]:
print ("CHI SQUARE TEST \nP value is "+ str(p))
if p<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

CHI SQUARE TEST
P value is 0.6603094907091882
H0 holds true

In [ ]:
Faltoons=pd.read_csv("F:\\Data Science Excler\\CSV Files\\Faltoons.csv")

In [ ]:
Faltoons.Weekdays.value_counts()

Female    287
Male      113
Name: Weekdays, dtype: int64

In [ ]:
Faltoons.Weekend.value_counts()

Female    233
Male      167
Name: Weekend, dtype: int64

In [ ]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder()
Faltoons["Weekdays"] = label_encoder.fit_transform(Faltoons["Weekdays"])
Faltoons["Weekend"] = label_encoder.fit_transform(Faltoons["Weekend"])

In [ ]:
population1=Faltoons.drop('Weekend', axis = 1)
population2=Faltoons.iloc[:, 1]

In [ ]:
import statsmodels.api as sm
tvalue,p,dof=sm.stats.ttest_ind(population1,population2)
print ("2 PROPORTION TEST \nP value is "+ str(p))
if p<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

2 PROPORTION TEST
P value is [5.90138794e-05]
Reject H0

In [ ]:
cForm=pd.read_csv("F:\\Data Science Excler\\CSV Files\\CostomerOrderForm.csv")

In [ ]:
cForm["Phillippines"] = label_encoder.fit_transform(cForm["Phillippines"])
cForm["Indonesia"] = label_encoder.fit_transform(cForm["Indonesia"])
cForm["Malta"] = label_encoder.fit_transform(cForm["Malta"])
cForm["India"] = label_encoder.fit_transform(cForm["India"])

In [ ]:
stat,p,dof,expected=stats.chi2_contingency(cForm)

In [ ]:
alpha=0.05
print ("CHI SQUARE TEST \nP value is "+ str(p))
if p<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

CHI SQUARE TEST
P value is 1.0
H0 holds true